
body,
#root {
  overflow-x: hidden;
  scrollbar-width: none;


  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: black;
  }

  &::-webkit-scrollbar-thumb {
    background-color: yellow;
    border-radius: 6px;
  }

}

*,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;

}

