
// Colors

$primary-color: #1890ff;
$secondary-color: #52c41a;
$text-color: #333;
$border-radius: 4px;



// Media Queries 

$desktop-min: 1280px;
$tablet-max: 1279px;
$tablet-min: 768px;
$mobile-max: 767px;


