

.todolist__title-main{
    margin-top: 24px;
}

.todolist__input{
    margin-top: 24px;
}

.todolist__btn{
    margin-top: 12px;
}
.todolist__title-secondary{
    margin-top: 24px;
}
.todolist__list{
    margin-top: 12px;
    .todolist__list-item{
        cursor: pointer;
    }
}